.top{
	text-align: center;
	position: fixed;
	top: -4%;
	width: 100%;
	color: black;
	background: white;
	padding: 20px;

}
.bottom{
}
.right{
	float:right;
	width:580px;  
	margin-right:20px;
}
#left{
	float:left;
	position:relative;
	margin-left:20px;
	font-family: 'Terminal Dosis', sans-serif;
	width:500px; 
	top: 50px;
	z-index:-1;
	
	
}

#map{
	font-family: 'Terminal Dosis', sans-serif;
	position:relative;
	top:190px;
	width:460px;
	text-align:center;
	z-index:-1;
	
}
#map_canvas { 
	position:relative;
	right:36px;
	top:190px;
	width:580px;
	height:370px;
	z-index:-1;
}
#mychart {
	position:relative;
	top:160px;
	height: 200px;
	right:10px;
	width:480px;
	margin-right:20px;
	z-index:-1;
}
h1{
        font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
	    
#footer{
	clear:both;
        width: 50%;
        text-align: right;
        font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

